.container {
  flex: 1;
  background-color: #061c33;
  padding: 74px 60px;
}

.pageHeading {
  text-transform: uppercase;
  letter-spacing: 12.8px;
  color: white;
  font-size: 24px;
  line-height: 30px;
}

.commonBoxStyles {
  border: 1px solid #fce050;
  color: rgba(255, 255, 255, 1);
  padding: 12px 1rem;
  background-color: #26384c;
  border-radius: 1rem;
}

.textStyles {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
